<% content_for :page_title do %>
  <%= @marketing_abandoned_cart.name %>
<% end %>

<h3>Contacts</h3>

<br>

<% if @contacts.present? %>
  <table class="table">
    <thead>
      <th><%= Spree.t(:email) %></th>
      <th><%= Spree.t(:uid) %></th>
      <th>Details</th>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <% if contact.user_id %>
            <td><%= link_to contact.email, edit_admin_user_path(id: contact.user_id), target: '_blank' %></td>
          <% else %>
            <td><%= contact.email %></td>
          <% end %>
          <td><%= contact.uid %></td>
          <td><%= link_to 'Orders', admin_marketing_abandoned_cart_cart_path(@marketing_abandoned_cart, contact) %></td>
        </tr>

      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: 'Contacts') %>
  </div>
<% end %>
